.logo {
	display:flex;
	margin-left: 2%;
	margin-top: 2%;
	width: 75px;
	height: 75px;
}
.recherche {
	padding-left: 2%;
	display: flex;
	width: 100%;
	position: fixed;
	background-color: #ee7164; 
}

.bouton {
	height: 40px;
	margin-top:3%;
}

.champ {
	 margin-left: 5%;
	 width: 50%;
	 height: 35px;
	 margin-top: 3%;
}

.button {
	height: 37px;
	background-color: #E9675D;
}
.button:hover {
	background-color:#FFFFFF;
}
.boutton
{
	padding-left: 5%;
	height:37px;
}
.connexion {
	padding-left: 3%;
	height: 35px;
	margin-top: 3%;
	text-decoration: none;
}
body
{
	background-color: #DBCDC6;
}
a:link
{
	text-decoration: none;
	color : black;
}
.index  {
  height: 100%; 
  width: 160px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #ee7164; 
  overflow-x: hidden;
  padding-top: 20px;
  text-align: center;
}

li {
	list-style: none; 
}

ul li a 
{
	/*background: #c00;*/
	margin-top: 15%;
	display: block;
	width:100%;
	text-decoration:none;
	color:black;
	line-height:70px;
}

ul li a:hover
{
	background-color:#FFFFFF;
	text-decoration: underline;
}

footer
{
  text-align: center;
  border: 1px solid black;
  margin-bottom: 12px;
  margin-top: 50px;
  background-color: #FFFFFF;
  color: blue;
  font-size: .7em;
  width: 100%;
}
}


}
.main
{
	margin-top: 2%;
	display: flex;
	//* margin-left: 20%; *//
}

.ajouts, .prochainement
{
	width: 50%;
	text-align: center;
	border: 2px solid black;
}

.footer
{
	padding-left: 15%;
}

.map
{
	margin-top: 50px;
}