#concertsall
{
	
	border: 12px solid red;
	margin-top: 80px;
	width: 20%;
}

.inwhile
{
	display: block;
	background-color: #fff;
	border: 2px solid grey;
}


.artiste
{
	color: #da1e2c;
	font-weight: 700;
	font-size: 1.1em;
}

.date
{

}

.heure
{

}

.pays
{

}

.ville
{

}

.salle
{

}

.adresse
{

}

.cp
{

}

.cp, .adresse, .salle, .ville, .pays, .heure, .date, .artiste
{
	
}