#concertsall
{
	margin-top: 80px;
	margin-left: 40%;
	width: 20%;
}

.inwhile
{
	display: block;
	background-color: #fff;
	border: 2px solid grey;
	text-align: center;
	margin-bottom: 15px;
}



.dahe
{
	background-color: #440303;
	color: #fff;
	font-size: 1.5em;
	text-decoration: underline;
}

.date
{
	color: #da1e2c;
	font-weight: 900;
	font-size: 2.5em;
}

.heure
{

}



.artiste
{
	color: #da1e2c;
	font-weight: 700;
	font-size: 2.3em;
	background-color: black;
	border-bottom: 5px solid blue;
}



.pacp
{
	background-color: #9f0505;
	color: #fff;
	font-size: 1.5em;
	text-decoration: underline;
}

.pays
{
	color: #6c6c6c;
}

.ville
{
	color: #6c6c6c;
	text-decoration: bold;
	font-size: 1.3em
}

.cp
{

}



.saad
{
	background-color: #e90606;
	color: #fff;
	font-size: 1.5em;
	text-decoration: underline;
}

.salle
{
	color: #6c6c6c;
}

.adresse
{
	color: #6c6c6c;
}



.cp, .adresse, .salle, .ville, .pays, .heure, .date, .artiste
{
	padding-top: 5px;
	padding-bottom: 5px;
}