#prochain
{
	margin-top: 95px;
	margin-left: 40%;
	width: 20%;
}

.inwhile
{
	display: block;
	background-color: #fff;
	border: 2px solid grey;
	text-align: center;
	margin-bottom: 15px;
}




.date
{

	color: #fff;
	font-weight: 700;
	font-size: 2.3em;
	background-color: #800000;
	border-bottom: 5px solid black;

}


.ville
{
	background-color: #9f0505;
	color: #fff;
	font-size: 1.5em;
	border-bottom: 3px solid black;
}


.artiste
{
	color: #800000;
	font-weight: 900;
	font-size: 2.5em;
	border-bottom: 4px solid black;
}

.salle
{
	background-color: #440303;
	color: #fff;
	font-size: 1.5em;
}
 .date, .artiste
{
	padding-top: 5px;
	padding-bottom: 5px;
}